@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-bg {
  background-color: #4CAF50;
}

.custom-bg-hover:hover {
  background-color: #308233;
}

.sponsor-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.sponsor-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0.5rem;
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.sponsor-card .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  padding: 0.5rem; /* Add padding around the edges */
}

.sponsor-card .image-container img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain; /* Ensure the image fits within the container without cropping */
}

.sponsor-card .description {
  flex-grow: 1;
  display: flex;
  align-items: center;
  text-align: left;
}

.sponsorship-tier-image {
  height: 67px;
  width: auto;
}

.slick-slide {
  padding: 0.5rem;
  box-sizing: border-box;
}

.sponsor-card h2 {
  font-size: 1.5rem;
  word-break: break-word;
}

@media (max-width: 600px) {
  .sponsor-card h2 {
    font-size: 1.2rem;
  }
}
